<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>978108856826-c1ct41p702nl4bgt0114lkc64hqnhp8v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.978108856826-c1ct41p702nl4bgt0114lkc64hqnhp8v</string>
	<key>API_KEY</key>
	<string>AIzaSyBtoxC4kKy9NkIjA648MlBleLd4QRngerU</string>
	<key>GCM_SENDER_ID</key>
	<string>978108856826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.successpanda.successpanda</string>
	<key>PROJECT_ID</key>
	<string>panda-app-8cb4c</string>
	<key>STORAGE_BUCKET</key>
	<string>panda-app-8cb4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:978108856826:ios:57a988a74782a0ad</string>
	<key>DATABASE_URL</key>
	<string>https://panda-app-8cb4c.firebaseio.com</string>
</dict>
</plist>